<output class="board square">
  <div class="snake snake-head row{{board.snakeList[0].head.y}} column{{board.snakeList[0].head.x}} rotate{{90*board.snakeList[0].direction}}"></div>
  <div *ngFor="let part of board.snakeList[0].body.list" class="snake snake-body row{{part.y}} column{{part.x}}"></div>
  <div class="food row{{board.food.position.y}} column{{board.food.position.x}}"></div>
  <div *ngFor="let rock of board.rocks.list" class="rock row{{rock.y}} column{{rock.x}}"></div>
  <div class="energy-bar"></div>
  <output class="extended blur stats" *ngIf="board.isOver && board.snakeList.length == 1">
    <p class="text-big bold">Death by {{board.snakeList[0].deathReason}}</p>
    <p class="text-small">nº steps: {{board.snakeList[0].nStepTaken}}</p>
    <p class="text-small">nº foods: {{board.snakeList[0].nFoodEaten}}</p>
    <p class="text-medium bold">SCORE: {{board.snakeList[0].score}}</p>
  </output>
</output>
