
.input-wrapper {
  background-color: var(--color-main);
  display: grid;
  grid-template-columns: auto auto;
  padding: 4px;
  border: 2px solid var(--color-font);
  border-radius: 10px;
  margin: 4px;
  align-items: center;
  justify-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.light-wrapper {
  grid-column: 2;
  justify-content: center;
  grid-row-end: span 2;
  position: relative;
  width: 60px;
  height: 60px;
}

.light {
  position: absolute;
  width: 36%;
  height: 36%;
  border-radius: 50%;
}

.light-north {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background:
  radial-gradient(closest-side, var(--color-main) 60%, transparent 0 99.9%, black 0 120%),
  conic-gradient(var(--color-input-positive) var(--input-value-north), var(--color-font) 0);
}

.light-south {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background:
  radial-gradient(closest-side, var(--color-main) 60%, transparent 0 99.9%, black 0 120%),
  conic-gradient(var(--color-input-positive) var(--input-value-south), var(--color-font) 0);
}

.light-east {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background:
  radial-gradient(closest-side, var(--color-main) 60%, transparent 0 99.9%, black 0 120%),
  conic-gradient(var(--color-input-positive) var(--input-value-east), var(--color-font) 0);
}

.light-west {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background:
  radial-gradient(closest-side, var(--color-main) 60%, transparent 0 99.9%, black 0 120%),
  conic-gradient(var(--color-input-positive) var(--input-value-west), var(--color-font) 0);
}
