<div class="card-wrapper">
  <div class="card shadow">
    <header class="card-title">User SNAKE</header>
    <main class="board-wrapper">
      <output class="board board-user square"></output>
      <output class="extended blur stats" *ngIf="!snake.isAlive">
        <p class="text-big bold">Death by {{snake.deathReason}}</p>
        <p class="text-small">nº steps: {{snake.nSteps}}</p>
        <p class="text-small">nº foods: {{snake.nFood}}</p>
        <p class="text-medium bold">SCORE: {{snake.score}}</p>
      </output>
    </main>
    <app-board [board]="board"></app-board>
    <menu class="button-wrapper">
      <button class="button input-left" (click)="changeSnakeDirection(directions.west)">&#9664;</button>
      <button class="button input-up" (click)="changeSnakeDirection(directions.north)">&#9650;</button>
      <button class="button input-down" (click)="changeSnakeDirection(directions.south)">&#9660;</button>
      <button class="button input-right" (click)="changeSnakeDirection(directions.east)">&#9654;</button>
    </menu>
    <menu class="button-wrapper">
      <button class="button button-reset-small rounded-left" *ngIf="isPaused && snake.isAlive" (click)="reset()">&#10227;</button>
      <button class="button button-start" *ngIf="isPaused && snake.isAlive" (click)="startAnimation()">&#9655;</button>
      <button class="button button-step rounded-right" *ngIf="isPaused && snake.isAlive" (click)="moveSnake()">&#10140;</button>
      <button class="button button-pause rounded-left rounded-right" *ngIf="!isPaused && snake.isAlive" (click)="pauseAnimation()">&#2405;</button>
      <button class="button button-reset-big rounded-left rounded-right" *ngIf="!snake.isAlive" (click)="reset()">&#10227;</button>
    </menu>
  </div>
</div>
