<menu class="card-wrapper">
  <form class="card">
    <header class="card-title">IA Tolerances</header>
    <menu class="input-wrapper">
      <div class="input-card">
        <label>Food:</label>
        <input class="input-number" [(ngModel)]="tolerances.food" [ngModelOptions]="{standalone: true}" type="number" min="0" max="100" step="5">
      </div>
      <div class="input-card">
        <label>Body:</label>
        <input class="input-number" [(ngModel)]="tolerances.body" [ngModelOptions]="{standalone: true}" type="number" min="0" max="100" step="5">
      </div>
      <div class="input-card">
        <label>Wall:</label>
        <input class="input-number" [(ngModel)]="tolerances.wall" [ngModelOptions]="{standalone: true}" type="number" min="0" max="100" step="5">
      </div>
      <div class="input-card">
        <label>Rock:</label>
        <input class="input-number" [(ngModel)]="tolerances.rock" [ngModelOptions]="{standalone: true}" type="number" min="0" max="100" step="5">
      </div>
      <button class="button button-submit" type="button" (click)="createIa(tolerances)">+</button>
    </menu>
  </form>
  <div class="card" *ngIf="iaList.length>0">
    <header class="card-title">Simulation Controls</header>
    <div class="control-wrapper">
      <button class="button button-reset-small rounded-left" (click)="resetAll()">&#10227;</button>
      <button class="button button-start" *ngIf="isPaused" (click)="startAll()">&#9655;</button>
      <button class="button button-pause" *ngIf="!isPaused" (click)="pauseAnimation()">&#2405;</button>
      <button class="button button-step rounded-right" (click)="moveAll()">&#10140;</button>
    </div>
  </div>
</menu>
<main class="card-wrapper">
  <div class="card" *ngFor="let ia of iaList; let i=index;">
      <header class="card-title">{{ia.name}}</header>
      <app-board [board]="ia.board"></app-board>
      <menu class="button-wrapper">
        <button class="button button-start" (click)="deleteIa(i)">&#10006;</button>
      </menu>
      <app-input [title]="'Food'" [value]="50" [inputs]="ia.network.foodNeurons"></app-input>
  </div>
</main>
