<menu class="card-wrapper">
  <form class="card" *ngIf="isPaused">
    <header class="card-title">IA Tolerances</header>
    <menu class="input-wrapper">
      <label>Food:</label>
      <input class="input-number" [(ngModel)]="tolerances.food" [ngModelOptions]="{standalone: true}" type="number" min="0" max="100" step="5">
      <label>Body:</label>
      <input class="input-number" [(ngModel)]="tolerances.body" [ngModelOptions]="{standalone: true}" type="number" min="0" max="100" step="5">
      <label>Wall:</label>
      <input class="input-number" [(ngModel)]="tolerances.wall" [ngModelOptions]="{standalone: true}" type="number" min="0" max="100" step="5">
      <label>Rock:</label>
      <input class="input-number" [(ngModel)]="tolerances.rock" [ngModelOptions]="{standalone: true}" type="number" min="0" max="100" step="5">
      <button class="button button-submit" type="button" (click)="createIa(tolerances)">+</button>
    </menu>
  </form>
  <div class="card" *ngIf="iaList.length>0">
    <header class="card-title">Simulation Controls</header>
    <div class="control-wrapper">
      <button class="button button-reset-small rounded-left" (click)="resetAll()">&#10227;</button>
      <button class="button button-start" *ngIf="isPaused" (click)="startAll()">&#9655;</button>
      <button class="button button-pause" *ngIf="!isPaused" (click)="pauseAnimation()">&#2405;</button>
      <button class="button button-step rounded-right" (click)="moveAll()">&#10140;</button>
    </div>
  </div>
</menu>
<main class="card-wrapper">
  <div class="card" *ngFor="let ia of iaList; let i=index;">
      <header class="card-title">{{iaList[i].name}}</header>
      <main class="board-wrapper">
        <output class="board board-ia square"></output>
        <output class="extended blur stats" *ngIf="!iaList[i].snake.isAlive">
          <p class="text-big bold">Death by {{iaList[i].snake.deathReason}}</p>
          <p class="text-small">nº steps: {{iaList[i].snake.nSteps}}</p>
          <p class="text-small">nº foods: {{iaList[i].snake.nFood}}</p>
          <p class="text-medium bold">SCORE: {{iaList[i].snake.score}}</p>
          <p class="text-medium bold">Record: {{iaList[i].snake.record}}</p>
        </output>
      </main>
      <menu class="button-wrapper">
        <button class="button button-start" (click)="deleteIa(i)">&#10006;</button>
        <!-- <button class="button button-reset-small" *ngIf="isPaused && createdIas[i].snake.isAlive" (click)="reset()">&#10227;</button>
        <button class="button button-start" *ngIf="isPaused && createdIas[i].snake.isAlive" (click)="start()">&#9655;</button>
        <button class="button button-step" *ngIf="isPaused && createdIas[i].snake.isAlive" (click)="moveSnake()">&#10140;</button>
        <button class="button button-pause" *ngIf="!isPaused && createdIas[i].snake.isAlive" (click)="stop()">&#2405;</button>
        <button class="button button-reset-big" *ngIf="!snake.isAlive" (click)="reset()">&#10227;</button> -->
      </menu>
  </div>
</main>
