<menu class="card-wrapper">
  <form class="card">
    <header class="card-title">Robot Tolerances</header>
    <menu class="input-wrapper">
      <div class="input-card">
        <label>Food:</label>
        <input class="input-number" [(ngModel)]="foodTol" [ngModelOptions]="{standalone: true}" type="number" min="-100" max="100" step="5">
      </div>
      <div class="input-card">
        <label>Body:</label>
        <input class="input-number" [(ngModel)]="bodyTol" [ngModelOptions]="{standalone: true}" type="number" min="-100" max="100" step="5">
      </div>
      <div class="input-card">
        <label>Wall:</label>
        <input class="input-number" [(ngModel)]="wallTol" [ngModelOptions]="{standalone: true}" type="number" min="-100" max="100" step="5">
      </div>
      <div class="input-card">
        <label>Rock:</label>
        <input class="input-number" [(ngModel)]="rockTol" [ngModelOptions]="{standalone: true}" type="number" min="-100" max="100" step="5">
      </div>
      <button class="button button-submit" type="button" (click)="createNewRobot(foodTol, bodyTol, wallTol, rockTol)">+</button>
    </menu>
  </form>
  <div class="card" *ngIf="robotList.length>0">
    <header class="card-title">Animation</header>
    <app-animation></app-animation>
  </div>
  <div class="card" *ngIf="robotList.length>0">
    <header class="card-title">Information</header>
    <main class="button-wrapper">
      <button class="button rounded-left prev" type="button" (click)="prevInfo()">&#10094;</button>
      <output class="text" [innerText]="info[infoIndex]"></output>
      <button class="button rounded-right next" type="button" (click)="nextInfo()">&#10095;</button>
    </main>
  </div>
</menu>
<main class="card-wrapper">
  <app-robot *ngFor="let robot of robotList; let i=index;" [info]="info[infoIndex]" [robot]="robot" [tolerances]="toleranceList[i]"></app-robot>
</main>
