.header {
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  color: white;
  padding: 10px;
  align-items: stretch;
  position: sticky;
  top: 0;
}

.header .btn {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 25px;
}

.header .btn:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}