
.icon {
  aspect-ratio: 1/1;
  width: 1rem;
}

.tab-content {
  color: var(--color-contrast);
  background-color: var(--color-main);
  display: none;
  padding: 100px 20px;
  height: 100vmin;
  border-style: groove;
}

.tab-link {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tab-link:hover {
  background-color: var(--color-main);
}

.selected {
  background-color: var(--color-main);
}