
.icon {
  aspect-ratio: 1/1;
  width: 1rem;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 34% 33% 33%;
  background-color: var(--color-main);
  height: 5%;
  width: 100%;
}

header .link {
  background-color: var(--color-main);
  color: white;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
}

header .link:hover {
  background-color: var(--color-selected);
  transition: 0.3s;
}

main {
  position: relative;
  height: 92%;
  overflow: scroll;
  padding: auto;
}

footer {
  position: relative;
  background-color: var(--color-main);
  height: 3%;
  bottom: 0;
}
