<output class="board square">
  <div class="snake snake-head row{{board.snake.head.y}} column{{board.snake.head.x}} rotate{{90*board.snake.direction}}"></div>
  <div *ngFor="let part of board.snake.body.list" class="snake snake-body row{{part.y}} column{{part.x}}"></div>
  <div class="food row{{board.food.position.y}} column{{board.food.position.x}}"></div>
  <div *ngFor="let rock of board.rocks.list" class="rock row{{rock.y}} column{{rock.x}}"></div>
  <div class="energy-bar"></div>
  <output class="extended blur stats" *ngIf="!board.snake.isAlive">
    <p class="text-big bold">Death by {{board.snake.deathReason}}</p>
    <p class="text-small">nº steps: {{board.snake.nStepTaken}}</p>
    <p class="text-small">nº foods: {{board.snake.nFoodEaten}}</p>
    <p class="text-medium bold">SCORE: {{board.snake.score}}</p>
  </output>
</output>
