<div class="card-wrapper">
  <div class="card shadow">
    <header class="card-title">User SNAKE</header>
    <main class="board-wrapper">
      <output class="board board-user square"></output>
      <output class="extended blur stats" *ngIf="!snake.isAlive">
        <h1>Death by {{snake.deathReason}}</h1>
        <h3>nº steps: {{snake.nSteps}}</h3>
        <h3>nº foods: {{snake.nFood}}</h3>
        <h2>SCORE: {{snake.score}}</h2>
      </output>
    </main>
    <menu class="button-wrapper">
      <button class="button button-left rounded-left" (click)="changeSnakeDirection(1)">&#9664;</button>
      <button class="button button-up" (click)="changeSnakeDirection(2)">&#9650;</button>
      <button class="button button-down" (click)="changeSnakeDirection(0)">&#9660;</button>
      <button class="button button-right rounded-right" (click)="changeSnakeDirection(3)">&#9654;</button>
      <button class="button button-reset-small rounded-left" *ngIf="isPaused && snake.isAlive" (click)="reset()">&#10227;</button>
      <button class="button button-start" *ngIf="isPaused && snake.isAlive" (click)="startAnimation()">&#9655;</button>
      <button class="button button-step rounded-right" *ngIf="isPaused && snake.isAlive" (click)="moveSnake()">&#10140;</button>
      <button class="button button-pause rounded-left rounded-right" *ngIf="!isPaused && snake.isAlive" (click)="pauseAnimation()">&#2405;</button>
      <button class="button button-reset-big rounded-left rounded-right" *ngIf="!snake.isAlive" (click)="reset()">&#10227;</button>
    </menu>
  </div>
</div>
