
.snake {
  background-color: greenyellow;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.food {
  background: url('assets/Food2.png') center no-repeat;
  background-size: contain;
  /* border-radius: 50%; */
  /* background-color: red; */
  /* border: 0.25vmin solid black; */
}