:root {
  --color-main: blue;
  --color-selected: rgba(255, 255, 255, 0.4);
  --color-font: white;
}

html, body {
  color: var(--color-font);
  height: 100%;
  margin: 0px;
  min-width: 200px;
}

.snake {
  background-color: greenyellow;
  border: 1px solid black;
}

.snake-head {
  border-radius: 0% 0% 30% 30%;
  /* background: url('assets/PixelSnakeFace.png') center no-repeat; */
  /* background-color: greenyellow; */
}

.food {
  background: url('assets/PixelFood.png') center no-repeat;
  background-size: contain;
}

.board {
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  align-self: center;
  justify-self: center;
  padding: 10px;
  min-width: 200px;
  max-width: 500px;
}

.square {
  aspect-ratio: 1/1;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.extended {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blur {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}
